:root{
    --bg-color-header:  #1F2937;
    --txt-color:  #f9faf8ea;
    --text-000: hsl(48 33.3% 97.1%);
    --signup-clr: #3882F6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
img{
    width: 300px;
    height: 200px;
}
.header{
    display: flex;
    flex-direction: column;
    border: 2px solid;
    justify-content: space-around;
    background-color: var(--bg-color-header);
}
.hero{
    display: flex;
    justify-content: space-around; 
}
.second-section{
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
}
a{
    text-decoration: none;
}
.logo{
    padding-top: 5px;
    font-size: 24px;
    color: var(--txt-color);
}
h1{
    font-size: 2em;
    font-weight: 500;
    color: var(--txt-color);
}
.txt{
    font-size: 18px;
    color: #E5E7EB;
}
.second-hero{
    margin-top: 0;
}
img{
    margin-top: 70px;
}
.btn{
    border: none;
    outline: none;
    margin-top: 10px;;
    background-color: #3882F6;
    height: 35px;
    width: 78px;
    border-radius: 9px;
    color: var(--text-000);
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(252, 247, 247);
    color: var(--bg-color-header)
}
.images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    padding-top: 0px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
}
.img{
    margin-left: 10px;
    width: 150px;
}
.resize{
    width: 150px;
    height: auto;
}
.signup{
    border: 3px solid #3882F6;
    border-radius: 10px;
}
.resize.battery{
    width: 100px;
}
.img-container{
    display: flex;
    padding-top: 2px;
    gap: 13px;
}
.images > h2{
    margin-bottom: -50px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.comment{
    padding: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #E5E7EB;
}
.comm{
    display: flex;
    flex-direction: column;
    width: 500px;
    text-align: center;
    
}
blockquote{
    font-size: 20px ;
    font-style: italic;
    color: #1F2937;
}
.signup{
    display: flex;
    margin: 52px;
    padding: 50px;
    justify-content: space-between;
    gap: 21px;
    background-color: var(--signup-clr);

}
.signup-2-btn{
    border: 1px solid white;
    cursor: pointer;
    width: 100px;
    height: 40px;
    border-radius: 12px;
    background-color: #3882F6;
    color: var(--txt-color);
}
.signup-2-btn:hover{
    background-color: #ffffffd8;
    color: var(--signup-clr)
}
.white{
    color: white;
}
.white > p{
    color: rgba(245, 245, 245, 0.774);
}
.footer{
    display: flex;
    padding: 23px;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}
a{
    color: #e5e7ebda;
}
.second-info{
    padding-top: 13px;
}